/*-----Общие стили-----*/

body {
    min-width: 960px;
    margin: 0;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-weight: normal;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    display: block;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    background-color: #ee3643;
    color: white;
    text-transform: uppercase;
    border-radius: 3px;
}

.slider-button:hover,
.goods-button:hover,
.manufacturer-button:hover,
.contacts-button:hover,
.modal-submit:hover,
.modal-form input[type="submit"]:hover,
.modal-shopping-next:hover,
.slider-credit-button:hover {
    background-color: #ca2c37;
}

.slider-button:active,
.goods-button:active,
.manufacturer-button:active,
.contacts-button:active,
.modal-form input[type="submit"]:active,
.modal-shopping-next:active,
.slider-credit-button:active {
    background-color: #ba2732;
    outline: none;
}

.header-contacts,
.login,
.header-navigation,
.logged,
.footer-navigation,
.footer-goods,
.footer-social,
.breadcrumps,
.form-manufacturer,
.form-type,
.catalog-list,
.pagination-list,
.modal-add-to-cart-list,
.popular-list,
.manufacturer-list,
.delivery-company,
.goods-list,
.goods-list-2,
.catalog-items,
.filter-sorting,
.service-list,
.header-container-login {
    list-style: none;
    padding-left: 0px;
}

/*-----Общие стили конец-----*/

/*-----Header-----*/

.main-header {
    position: relative;
    background-color: #f4f7f9;
    font-size: 17px;
}

.navigation-wrapper {
    min-width: 100%;
    background-color: #293449;
}

.main-header-logo {
    display: block;
    background-color: #ee3643;
    min-width: 220px;
    box-shadow: 0px 5px 0 0 #b52933;
    padding-top: 13px;
    padding-bottom: 6px;
    padding-left: 56px;
    box-sizing: border-box;
}

.main-header-up {
    display: flex;
    align-items: center;
    margin-bottom: 38px;
}

.main-header a {
    color: #ffffff;
}

.form-color {
    box-sizing: border-box;
    background-color: #293449;
    border: 0px;
    font-size: 17px;
}

.search {
    position: relative;
}

.header-label {
    position: absolute;
    top: 12px;
    left: 17px;
}

.search input[type="search"]::-moz-placeholder {
    color: #ffffff;
}

.search input[type="search"]:-moz-placeholder {
    color: #ffffff;
}

.search input[type="search"]::-webkit-input-placeholder {
    color: #ffffff;
}

.search input[type="search"]:-webkit-input-placeholder {
    color: #ffffff;
}

.search input[type="search"]:-ms-input-placeholder {
    color: #ffffff;
}

.search input[type="search"]::-ms-input-placeholder {
    color: #ffffff;
}

.search input[type="search"]::placeholder {
    color: #ffffff;
}

.search input[name="search"]::-webkit-search-decoration,
.search input[name="search"]::-webkit-search-cancel-button,
.search input[name="search"]::-webkit-search-results-button,
.search input[name="search"]::-webkit-search-results-decoration {
    display: none;
}


.search input[name="search"]:hover + label path {
    fill: #ffffff;
}

.search input[name="search"]:hover {
    background-color: #212a3a;
}


.search input[name="search"]:focus + label path {
    fill: #ee3643;
}

.search input[name="search"]:active {
    background-color: #293449;
    outline: none;
}

.search input[name="search"]:focus {
    background-color: white;
    outline: none;
}

.search input {
    display: block;
    min-width: 270px;
    padding-bottom: 12px;
    padding-top: 11px;
    padding-left: 49px;
}

.bookmarks a {
    display: block;
    position: relative;
    text-align: center;
    min-width: 130px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 19px;
    padding-right: 1px;
    line-height: 16px;
}

.bookmarks a::before {
    content: '';
    position: absolute;
    background: url("../img/icon-bookmark.svg") no-repeat;
    width: 14px;
    height: 16px;
    left: 17px;
    top: 12px;
    opacity: 0.3;
}

.bookmarks a:hover::before {
    opacity: 1;
}

.bookmarks a:active::before {
    opacity: 0.5;
}

.cart a {
    position: relative;
    display: block;
    box-sizing: border-box;
    min-width: 150px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 50px;
    padding-right: 2px;
    line-height: 16px;
}

.cart-catalog {
    background-color: #ee3643;
}

.cart a::before {
    content: '';
    position: absolute;
    background: url("../img/icon-cart.svg") no-repeat;
    width: 14px;
    height: 16px;
    left: 18px;
    top: 12px;
    opacity: 0.3;
}

.cart a:hover::before {
    opacity: 1;
}

.cart a:active::before {
    opacity: 0.5;
}

.bookmarks:hover,
.bookmarks:focus,
.cart:hover,
.cart:focus {
    background-color: #212a3a;
}

.bookmarks:active,
.cart:active {
    background-color: #161d29;
    opacity: 0.3
}

.main-header-logo:hover,
.main-header-logo:focus {
    background-color: #ca2c37;
}

.main-header-logo:active {
    background-color: #ba2732;
}

.order {
    display: block;
    background-color: #63a63e;
    padding-top: 10px;
    padding-bottom: 13px;
    min-width: 148px;
    text-align: center;
    padding-left: 1px;
    padding-right: 1px;
}

.order:hover,
.order:focus {
    background-color: #5fbb2d;
}

.order:active {
    background-color: #518534;
}

.main-header-middle {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 21px;
}

.header-middle-container {
    display: flex;
}

.main-header-title {
    font-style: italic;
    font-weight: normal;
    color: #ee3643;
    font-size: 16px;
    line-height: 23px;
    text-align: left;
    letter-spacing: 0.6px;
}

.header-contacts {
    min-width: 270px;
    margin-left: 70px;
    margin-top: 9px
}

.header-contacts-number {
    position: relative;
    box-sizing: border-box;
    font-size: 21px;
    line-height: 1;
    letter-spacing: 0.7px;
    color: #ee3643;
    min-width: 270px;
    border: solid 3px #ffffff;
    padding-left: 75px;
    padding-top: 9px;
    padding-bottom: 9px;
}

.header-contacts-number::before {
    content: "";
    position: absolute;
    background: url("../img/icon-phone.svg") no-repeat;
    width: 19px;
    height: 19px;
    left: 14px;
    top: 10px
}

.header-contacts-adress {
    padding-top: 4px;
    padding-left: 11px;
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

/*-----user area-----*/

.login {
    display: flex;
    margin-left: 69px;
    padding: 0;
    margin-top: 9px
}

.enter {
    display: block;
    position: relative;
    box-sizing: border-box;
    min-width: 121px;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-right: 25px;
    text-align: right;
}

.enter::before {
    content: "";
    position: absolute;
    background: url("../img/icon-login.svg");
    height: 17px;
    width: 20px;
    left: 14px;
    top: 13px;
    opacity: 0.3;
}

.enter:hover::before,
.button-header-catalog-name:hover::before,
.button-header-catalog-name:hover::after {
    opacity: 1;
}

.enter:active::before,
.button-header-catalog-name:active::before,
.button-header-catalog-name:active::after {
    opacity: 0.3;
}

.registration {
    display: block;
    min-width: 150px;
    padding-bottom: 12px;
    padding-top: 12px;
    margin-left: 11px;
    text-align: center;
}

.login .button-header {
    font-size: 21px;
    line-height: 21px;
    color: black;
    background-color: #ffffff;
}

.logged {
    position: relative;
    padding: 0;
    padding-left: 50px;
    margin-top: 9px;
}

.logged .button-header {
    font-size: 16px;
    color: #32425c;
    text-decoration: underline;
}


.logged a:active {
    color: rgba(0, 0, 0, 0.3);
}

.logged .button-header-catalog-name {
    position: relative;
    display: block;
    box-sizing: border-box;
    font-size: 21px;
    line-height: 21px;
    color: black;
    background-color: #ffffff;
    padding-top: 11px;
    padding-bottom: 9px;
    padding-left: 48px;
    padding-right: 68px;
}

.button-header-catalog-name::before {
    content: "";
    position: absolute;
    background: url("../img/icon-user.svg");
    height: 18px;
    width: 20px;
    left: 15px;
    top: 12px;
    opacity: 0.3;
}

.logout {
    position: absolute;
    background: url("../img/icon-logout.svg");
    height: 17px;
    width: 20px;
    right: 11px;
    top: 12px;
    opacity: 0.3;
}

.logout:hover {
    opacity: 1;
}

.logout:active {
    opacity: 0.3;
}

.button-header-catalog-name:hover {
    color: black;
}

.header-container-login {
    display: flex;
    position: relative;
    padding-top: 10px;
    padding-left: 3px;
}

.header-container-login::after {
    content: "";
    position: absolute;
    border: 2px #32425c solid;
    border-radius: 50%;
    left: 110px;
    top: 17px;
}

.header-container-login .header-login-button {
    font-size: 16px;
    padding-left: 17px;
    padding-right: 15px;
    color: #32425c;
    text-decoration: underline;
}

.login :hover,
.login :focus,
.header-login-button:hover,
.header-login-button:focus {
    color: #ee3643;
}

.login :active {
    color: rgba(0, 0, 0, 0.3);
}

/*-----user area end-----*/

.header-navigation {
    display: flex;
    justify-content: space-around;
    background-color: #32425c;
    font-size: 17px;
    line-height: 17px;
    box-shadow: inset 0px -5px 0 0 #293449;
    padding: 0px;
    padding-right: 22px;
    padding-left: 21px;
    margin: 0px;
}

.haeder-navigation-link {
    display: block;
    padding-bottom: 23px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.header-navigation :hover,
.header-navigation :focus {
    background-color: #293449;
}

.header-navigation :focus {
    background-color: #1d2739;
    color: rgba(255, 255, 255, 0.5);
}

.header-navigation-container {
    padding-bottom: 60px;
}

/*-----Header end-----*/

/*-----Index.html-----*/

/*-----Main goods-----*/

.main-goods {
    position: relative;
    margin-top: 59px
}

.goods-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px
}

.goods-container {
    width: 320px;
    position: absolute;
    left: 640px;
    top: 127px;
}

.goods-list-2 {
    display: flex;
    flex-wrap: wrap;
}

.goods-item {
    position: relative;
    line-height: 1.25;
    text-align: left;
    color: white;
    min-width: 300px;
}

.goods-item h3 {
    font-size: 25px;
    font-weight: normal;
    padding-left: 23px;
    padding-top: 20px;
    padding-bottom: 12px;
    margin: 0px;
    margin-right: 95px;
}

.goods-item-button {
    background-color: rgba(0, 0, 0, 0.1);
    font-weight: normal;
    padding: 11px 0px;
    padding-bottom: 10px;
    width: 135px;
    margin-left: 23px;
    margin-bottom: 21px;
}

.goods-item-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.goods-item-button:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.goods-material {
    background-color: #ffbf47;
}

.goods-instrument {
    background-color: #3bbce3;
}

.goods-machinery {
    background-color: #dc91d8;
}

.goods-discount {
    background-color: #8ed78f;
    margin-bottom: 20px;
}

.goods-delivery {
    background-color: #ffc047;
}

.goods-material::after {
    content: "";
    position: absolute;
    background: url("../img/icon-materials.svg") no-repeat;
    height: 65px;
    width: 44px;
    top: 31px;
    left: 213px;
}

.goods-material::before {
    content: "";
    position: absolute;
    background: url("../img/new-flag.png") no-repeat;
    height: 59px;
    width: 60px;
    left: 240px;
}

.goods-instrument::after {
    content: "";
    position: absolute;
    background: url("../img/icon-instrument.svg") no-repeat;
    height: 61px;
    width: 75px;
    top: 33px;
    left: 197px;
}

.goods-machinery::after {
    content: "";
    position: absolute;
    background: url("../img/icon-machinery.svg") no-repeat;
    height: 62px;
    width: 78px;
    top: 31px;
    left: 191px;
}

.goods-discount::after {
    content: "";
    position: absolute;
    background: url("../img/icon-discount.svg") no-repeat;
    height: 72px;
    width: 59px;
    top: 26px;
    left: 196px;
}

.goods-delivery::after {
    content: "";
    position: absolute;
    background: url("../img/icon-delivery.svg") no-repeat;
    height: 63px;
    width: 78px;
    top: 32px;
    left: 191px;
}

/*-----Main goods SLIDER-----*/

.slider-goods-drill {
    position: relative;
    background: url("../img/slider-image.jpg");
    width: 620px;
    height: 266px;
    margin-bottom: 20px
}

.slider-title {
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    color: white;
    text-transform: uppercase;
    padding-top: 21px;
    padding-left: 26px;
    margin: 0;
}

.slider-goods-drill span {
    font-size: 18px;
    line-height: 1.2;
    text-align: left;
    color: white;
    padding-left: 25px;
}

.slider-button {
    box-sizing: border-box;
    padding: 10px 0px;
    padding-left: 4;
    width: 195px;
    margin-left: 25px;
    margin-top: 123px;
}

.slider-goods-drill::before {
    content: "";
    position: absolute;
    background: url("../img/icon-left-button.svg");
    width: 22px;
    height: 40px;
    left: 26px;
    top: 114px;
}

.slider-goods-drill::after {
    content: "";
    position: absolute;
    background: url("../img/icon-right-button.svg");
    width: 22px;
    height: 40px;
    left: 578px;
    top: 114px;
}

.slider-goods-perforator {
    position: relative;
    background: url("../img/slide-image-peforators.jpg");
    min-width: 620px;
    height: 266px;
    margin-bottom: 20px
}

.slider-goods-perforator span {
    font-size: 18px;
    line-height: 1.33;
    text-align: left;
    color: white;
    padding-left: 26px;
}

.slider-goods-perforator::before {
    content: "";
    position: absolute;
    background: url("../img/icon-left-button.svg");
    width: 22px;
    height: 40px;
    left: 26px;
    top: 114px;
}

.slider-goods-perforator::after {
    content: "";
    position: absolute;
    background: url("../img/icon-right-button.svg");
    width: 22px;
    height: 40px;
    left: 578px;
    top: 114px;
}

/*-----Main goods SLIDER end-----*/

/*-----Main goods end-----*/

/*-----Main popular goods-----*/

.popular-goods {
    margin-top: 53px;
}

.popular-catalog,
.popular-manufacturer-catalog {
    display: flex;
    background-color: #f9f5f0;
    justify-content: space-between;
    align-items: center;
    padding-right: 24px;
    padding-top: 26px;
    padding-bottom: 25px;
    margin-bottom: 20px;
}

.popular-goods-title,
.popular-manufacturer-title {
    font-size: 30px;
    line-height: 1;
    font-weight: normal;
    text-align: left;
    color: #32425c;
    text-transform: uppercase;
    padding-left: 29px;
    padding-right: 10px;
    margin: 0;
}

.goods-button,
.manufacturer-button {
    min-width: 233px;
    padding: 10px;
}

.popular-list {
    display: flex;
    padding: 0px;
    justify-content: space-between;
    margin-bottom: 21px;
}

/*-----Main popular goods end-----*/

/*-----Main popular manufacturer-----*/

.manufacturer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 66px;
}

.manufacturer-logo {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    border: solid 1px #eaeaea;
    min-width: 220px;
    height: 145px;
    margin-bottom: 20px;
}



.makita img,
.dewalt img {
    padding-bottom: 5px;
}

.interskol img {
    padding-bottom: 16px;
    padding-right: 2px;
}

.hitachi img {
    padding-left: 6px;
    padding-top: 2px
}

.metabo img {
    padding-bottom: 9px;
    padding-left: 4px;
}

.manufacturer-logo:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.manufacturer-logo:active {
    box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
    opacity: 0.5;
}

/*-----Main popular manufacturer end-----*/

/*-----Main Services slider-----*/

.services-wrapper {
    min-width: 100%;
    background-color: #f4f7f9;
    margin-bottom: 54px
}

.services-title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: normal;
    color: #32425c;
    margin: 0;
}

.services > .services-title {
    padding-top: 62px;
    padding-bottom: 11px;
    color: black;
}

.services p {
    font-family: 'PT Sans', 'Arial', serif;
    font-size: 13px;
    line-height: 1.85;
}

.services-service p {
    font-family: 'PT Sans', 'Arial', serif;
    font-size: 13px;
    line-height: 1.85;
}

.delivery {
    position: relative;
    width: 275px;
    padding-top: 9px;
}

.delivery::after {
    content: "";
    position: absolute;
    width: 468px;
    height: 261px;
    background: url("../img/delivery.png");
    top: -26px;
    left: 151px;
}

.guarantee {
    position: relative;
    width: 380px;
    padding-top: 9px;
}

.guarantee::after {
    content: "";
    position: absolute;
    width: 389px;
    height: 283px;
    background: url("../img/guarantee.png");
    top: -52px;
    left: 230px;
}

.credit {
    position: relative;
    width: 279px;
    padding-top: 9px;
}

.credit::after {
    content: "";
    position: absolute;
    width: 465px;
    height: 285px;
    background: url("../img/credit.png");
    top: -54px;
    left: 154px;
}

.slider-credit-button {
    position: absolute;
    padding: 10px 0;
    background-color: #ff5357;
    width: 195px;
}

.services-service {
    padding-left: 80px;
}

.services-service > .services-title {
    font-size: 36px;
    padding-top: 0px;
    margin-top: -4px;
}

.services-container {
    display: flex;
    margin-top: 68px;
    padding-bottom: 99px;
}

.service-list {
    position: relative;
    min-width: 240px;
    margin: 0;
}

.service-list::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 279px;
    background: url("../img/services-shadow.png");
    left: 230px;
    top: -50px
}

.service-item {
    display: block;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 0.6px;
    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;
    cursor: pointer;
    background-color: #32425c;
    color: white;
    padding: 18px 0;
    padding-left: 23px;
    min-width: 240px;
    box-sizing: border-box;
}

.service-item:not(.current):hover {
    background-color: #293449;
}

.current {
    background-color: white;
    color: #32425c;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}


/*-----Main Services slider end-----*/



/*-----Main About company-----*/

.main-container-bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 106px;
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    margin-bottom: 86px;
}

.about-company {
    min-width: 520px;
}

.about-company-title {
    font-size: 30px;
    font-weight: normal;
    line-height: 1;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 26px;
}

.about-company p {
    font-family: 'PT Sans', 'Arial', serif;
    font-size: 13px;
    line-height: 1.85;
    text-align: left;
    letter-spacing: 0.1px;
    margin-bottom: 24px;
}

.about-company p:nth-child(3) {
    margin-bottom: 20px;
}

.delivery-company {
    position: relative;
    font-size: 18px;
    line-height: 20px;
    text-align: left;
    left: 36px;
}

.deilivery-company-item {
    padding-bottom: 20px;
}

.deilivery-company-item:nth-child(3) {
    padding-bottom: 19px;
}

.deilivery-company-item::before {
    content: '';
    position: absolute;
    border-bottom: 2px solid #ee3643;
    width: 25px;
    left: -36px;
    margin-top: 10px;
}

.about-company-button {
    padding-top: 11px;
    padding-bottom: 9px;
    width: 220px;
}

.about-company-button:hover,
.about-company-button:focus {
    background-color: #ca2c37;
}

.about-company-button:active {
    background-color: #ba2732;
}


/*-----Main About company end-----*/

/*-----Main contacts-----*/

.contacts-main {
    min-width: 310px;
    margin-left: 120px
}

.contacts-title {
    font-size: 30px;
    font-weight: normal;
    line-height: 1;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 26px;
}


.contacts-main p {
    font-family: 'PT Sans', 'Arial', serif;
    font-size: 13px;
    line-height: 1.85;
    text-align: left;
    margin-bottom: 31px;
}

.map {
    display: block;
    margin-bottom: 36px;
}

.contacts-button {
    padding-left: 12px;
    padding-top: 11px;
    padding-bottom: 9px;
    padding-right: 8px;
    width: 280px;
}

.button-main-writeus:hover,
.button-main-writeust:focus {
    background-color: #ca2c37;
}

.button-main-writeus:active {
    background-color: #ba2732;
}

/*-----Main contacts end-----*/

/*-----index.html end-----*/

/*-----Catalog.html-----*/

.breadcrumps {
    display: flex;
    padding-left: 56px;
    position: relative;
    margin-top: 21px;
    margin-bottom: 20px;
}

.breadcrumps::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 12px;
    background: url("../img/icon-home.svg");
    top: 2px;
    left: -2px;
}

.breadcrumps li:nth-child(1)::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 12px;
    background: url("../img/icon-right-small.svg");
    left: 28px;
    top: 2px;
}

.breadcrumps a {
    font-family: 'PT Sans', 'Arial', serif;
    font-size: 13px;
    line-height: 1.38;
    text-align: left;
    text-transform: uppercase;
    padding-right: 40px;
    color: black;
}

.perfator-curent {
    position: relative;
    font-family: 'PT Sans', 'Arial', serif;
    font-size: 13px;
    line-height: 1.38;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}

.perfator-curent::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 12px;
    background: url("../img/icon-right-breadcrumps.svg");
    left: -143px;
    top: 2px;
}

.perfator-curent::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 12px;
    background: url("../img/icon-right-breadcrumps.svg");
    left: -23px;
    top: 2px;
}


.page-title {
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1;
    text-align: left;
    color: #32425c;
    background-color: #f2f6f8;
    padding-top: 30px;
    padding-bottom: 29px;
    padding-left: 28px;
    margin-bottom: 7px
}

/*-----Filter-----*/

.filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-sorting {
    display: flex;
    box-sizing: border-box;
    font-family: 'PT Sans', 'Arial', serif;
    font-size: 13px;
    text-align: left;
    background-color: #f7f3ec;
    text-transform: uppercase;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 3px;
}

.filter-sorting-item-1 {
    padding-right: 139px;
    padding-left: 19px;
}

.filter-sorting-item-2 a {
    margin-right: 71px;
    min-width: 53px;
    border-bottom: 1px dotted #ee3643;
    color: rgba(0, 0, 0, 0.3);
}

.filter-sorting-item-3 a {
    margin-right: 65px;
    min-width: 53px;
    border-bottom: 1px dotted #ee3643;
    color: rgba(0, 0, 0, 0.3);
}

.filter-sorting-item-4 a {
    position: relative;
    margin-right: 46px;
    border-bottom: 1px dotted #ee3643;
    color: rgba(0, 0, 0, 0.3);
}

.filter-icon-up {
    padding-right: 21px;
    opacity: 0.3;
}

.filter-icon-down {
    padding-right: 17px;
    opacity: 0.3;
}

.filter-sorting-item-2 a:hover,
.filter-sorting-item-3 a:hover,
.filter-sorting-item-4 a:hover {
    color: black;
    border-bottom: 1px solid #ee3643;
}

.filter-sorting-item-2 a:active,
.filter-sorting-item-3 a:active,
.filter-sorting-item-4 a:active {
    color: #ee3643;
    border-bottom: none;
}

.filter-icon-up:hover,
.filter-icon-down:hover {
    opacity: 1;
}

.filter-icon-up:active path,
.filter-icon-down:active path {
    fill: #ee3643;
}

.filter-title {
    font-family: 'PT Sans', 'Arial', serif;
    font-size: 13px;
    line-height: 1.38;
    text-align: left;
    background-color: #f7f3ec;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 11px;
    padding-left: 19px;
    padding-right: 151px;
    border-radius: 3px;
}

.main-catalog-container {
    display: flex;
    margin-top: 7px;
}


.filter fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.filter-price {
    display: block;
    position: relative;
    font-family: 'PT Sans', 'Arial', serif;
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 16px;
    top: -3px;
}

.filter-price-range {
    position: relative;
    box-sizing: border-box;
    min-width: 220px;
    height: 80px;
    background-color: #f7f3ec;
    border-radius: 3px;
    margin-bottom: 9px;
    padding-top: 39px;
    padding-left: 20px;
    padding-right: 20px;
}

.filter-price-range .scale {
    height: 2px;
    background: #d7dcde;
}

.filter-price-range .bar {
    width: 80%;
    height: 2px;
    background: #00ca74;
}

.filter-price-range .toggle {
    position: absolute;
    top: 30px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border-radius: 50%;
    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
}

.filter-price-range .toggle-min {
    left: 20px;
}

.filter-price-range .toggle-max {
    left: 160px;
}

.filter-max-price,
.filter-min-price {
    font-family: 'PT Sans', 'Arial', serif;
    box-sizing: border-box;
    width: 95px;
    background-color: #f7f3ec;
    border: none;
    text-align: center;
    border-radius: 3px;
    padding-top: 8px;
    padding-bottom: 12px;
    padding-left: 4px;
}

.filter-min-price {
    position: relative;
    margin-right: 26px;
    margin-bottom: 43px;
    padding-left: 5px;
}

.filter-price-range::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid #444444;
    width: 9px;
    top: 108px;
    left: 106px;
}

.filter-manufacturer {
    position: relative;
    font-family: 'PT Sans', 'Arial', serif;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.76;
    text-align: left;
    color: black;
    text-transform: uppercase;
}

.filter-manufacturer::before {
    content: "";
    position: absolute;
    top: -18px;
    border-bottom: 1px solid #e5e5e5;
    width: 220px;
}

.form-manufacturer,
.form-type {
    font-family: 'PT Sans', 'Arial', serif;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 1.33;
    text-align: left;
    color: black;
    margin-top: 15px;
    margin-bottom: 22px
}

.filter-item {
    margin-bottom: 21px;
    padding-left: 35px;
}

.filter-item label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: -3px;
    background: url("../img/icon-checkbox-off.svg");
    width: 23px;
    height: 23px;
    border-radius: 3px;
    opacity: 0.2;
}

.filter-input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    left: -35px;
    top: -3px;
    background: url("../img/icon-checkbox-on.svg");
    width: 27px;
    height: 23px;
    opacity: 0.2;
}

.filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: -3px;
    width: 25px;
    height: 25px;
    background: url("../img/icon-radio-off.svg");
    opacity: 0.1;
}

.filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    left: -35px;
    top: -3px;
    width: 25px;
    height: 25px;
    background: url("../img/icon-radio-on.svg");
    opacity: 0.2
}

.filter-input-checkbox + label:hover::before,
.filter-input-checkbox:checked + label:hover::after,
.filter-input-radio + label:hover::before,
.filter-input-radio:checked + label:hover::after {
    opacity: 0.3;
}

.filter-divider {
    border: 0px;
    border-bottom: 1px solid #e5e5e5;
    margin-top: 0;
    margin-bottom: 23px;
}

.filter-type {
    font-family: 'PT Sans', 'Arial', serif;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0.2px;
    text-align: left;
    color: black;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.filter-submit {
    font-family: 'PT Sans', 'Arial', serif;
    font-size: 13px;
    line-height: 1.38;
    text-align: center;
    color: black;
    min-width: 140px;
    height: 38px;
    border: solid 1px #e5e5e5;
    background-color: white;
    text-transform: uppercase;
    margin-top: 57px
}

.filter-submit:hover,
.filter-submit:focus {
    border: solid 1px #bdc6ca;
    outline: none;
}

.filter-submit:active {
    border: solid 1px #ee3643;
    outline: none;
}

/*-----filter end-----*/

/*-----catalog-----*/


.catalog {
    margin-left: 20px;
    margin-bottom: 19px;
}

.catalog-items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1px;
}

.catalog-item {
    position: relative;
    display: inline-block;
    width: 218px;
    margin-right: 20px;
    margin-bottom: 20px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #eaeaea;
}

.catalog-item:nth-child(3n) {
    margin-right: 0px;
}

.main-catalog-item {
    margin-left: 20px;
    margin-right: 0px;
}

.catalog-items {
    font-size: 0;
}

.catalog-item {
    font-size: 16px;
}

.catalog-item .flag {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 2;
}

.catalog-item .flag-new {
    background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item .actions {
    position: absolute;
    top: 4px;
    left: 0;
    width: 218px;
    height: 88px;
    padding: 40px 0;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
    position: relative;
    display: block;
    width: 129px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 7px 0;
    background-color: #63a63e;
    border: 3px solid #63a63e;
    border-bottom-color: #367315;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.buy::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: url("../img/icon-cart.svg");
    left: 10px;
    opacity: 0.3
}

.catalog-item .actions .buy:hover {
    background-color: #5fbb2d;
    border: 3px solid #5fbb2d;
    border-bottom-color: #367315;
}

.catalog-item .actions .buy:active {
    background-color: #518534;
    border: 3px solid #518534;
}

.buy:hover::before {
    opacity: 1;
}

.catalog-item .actions .bookmark {
    color: #32425c;
    background: white;
    border-bottom-color: #63a63e;
}

.catalog-item .actions .bookmark:hover {
    border: 3px solid #32425c;
}

.catalog-item .actions .bookmark:active {
    border: 3px solid #32425c;
    opacity: 0.3;
}

.catalog-item .actions {
    display: none;
}

.catalog-item:hover .actions {
    display: block;
}

.catalog-item .image {
    width: 218px;
    height: 168px;
}

.catalog-item .image img {
    max-width: 100%;
}

.catalog-item-container {
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 11px;
    padding-bottom: 20px;
}

.catalog-item .title {
    min-height: 40px;

    margin: 0px;
    margin-bottom: 9px;
    font-family: 'PT Sans', 'Arial', serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.11;
}

.catalog-item .discount {
    min-height: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-bottom: 8px;
    color: #999;
    text-decoration: line-through;
    font-family: 'PT Sans', 'Arial', serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.06;
}

.catalog-item .price {
    display: block;
    position: relative;
    width: 80px;
    margin: 0 auto;
    margin-left: 17px;
    padding: 10px 30px;
    color: white;
    background: #ee3643;
    border-radius: 3px;
    font-family: 'PT Sans', 'Arial', serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.06;
}

.catalog-item .price:after {
    content: "";
    position: absolute;
    top: 0px;
    right: -20px;
    width: 0;
    height: 0;
    border: 19px solid white;
    border-left-color: #ee3643;
}

.catalog-item:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

/*-----pagination-----*/

.pagination-list {
    display: flex;
    margin-top: 32px
}

.pagination-list li {
    margin-right: 10px;
}

.pagination-item a {
    font-family: 'PT Sans', 'Arial', serif;
    font-size: 13px;
    line-height: 1.38;
    display: block;
    padding-top: 9px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 14px;
    border: solid 1px #e5e5e5;
    color: black;
    border-radius: 3px;
    text-transform: uppercase;
    text-align: center;
}

.pagination-next a {
    min-width: 109px;
}

.pagination-item-current a {
    background-color: #ee3643;
    color: white;
}

.pagination-item a:hover,
.pagination-item a:focus {
    border: solid 1px #bdc6ca;
}

.pagination-item a:active {
    border: solid 1px #ee3643;
}

/*-----pagination end-----*/


/*-----about-perforators-----*/

.about-perforators {
    background-color: #f4f7f9;
    margin-bottom: 0px;
}

.about-perforator-title {
    font-size: 30px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: normal;
    padding-top: 65px;
    letter-spacing: 0.2px;
}

.about-perforator-text {
    font-family: 'PT Sans', 'Arial', serif;
    font-size: 13px;
    line-height: 1.85;
    letter-spacing: normal;
    padding-bottom: 69px;
    margin-bottom: 0px;
}

/*-----about-perforators end-----*/

/*-----catalog.html end-----*/



/*-----Footer-----*/


.footer-info {
    display: flex;
    background-color: #32425c;
    padding-bottom: 33px;
}

.footer-container-logo-contacts {
    min-width: 335px;
    text-align: center;
}

.main-footer-logo {
    display: block;
    width: 220px;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    background-color: #ee3643;
    padding-bottom: 21px;
    padding-top: 20px;
    margin-bottom: 28px
}

.main-footer-logo:hover,
.main-footer-logo:focus {
    background-color: #ca2c37;
}

.main-footer-logo:active {
    background-color: #ba2732;
}

.footer-contacts {
    font-size: 18px;
    line-height: 1.33;
    text-align: left;
    color: white;
    padding-left: 3px
}

.main-footer-navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 22px
}

.main-footer-navigation ul li {
    margin-left: 59px;
}

.footer-navigation {
    display: flex;
}

.footer-navigation a {
    font-size: 18px;
    line-height: 1.33;
    text-align: left;
    color: white;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
    text-decoration: underline;
}

.footer-navigation a:active {
    color: rgba(241, 245, 247, 0.5);
    text-decoration: none;
}

.footer-goods {
    display: flex;
    padding-top: 3px;
}

.footer-goods a {
    font-size: 18px;
    line-height: 1.33;
    text-align: left;
    color: #ffd180;
}

.footer-goods a:hover,
.footer-goods a:focus {
    color: #ffd180;
    text-decoration: underline;
}

.footer-goods a:active {
    color: rgba(255, 209, 128, 0.5);
    text-decoration: none;
}

.footer-container {
    display: flex;
    justify-content: flex-end;
    width: 320px;
    margin-left: 40px;
}

.footer-feedback {
    background-color: #293449;
    display: flex;
    justify-content: space-between;
    padding-top: 21px;
}

.footer-copyright {
    font-size: 16px;
    line-height: 1.13;
    text-align: left;
    color: #f3f7f9;
    padding-left: 2px
}

.footer-social {
    display: flex;
    justify-content: space-between;
    min-width: 132px;
    margin-left: 105px;
    margin-top: 14px;
    margin-right: 1px
}

.social-button {
    display: flex;
    position: relative;
    width: 42px;
    height: 42px;
    background-color: #212a3a;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.social-button:hover,
.social-button:active {
    background-color: #ee3643;
}

.vk::after {
    content: "";
    position: absolute;
    width: 26px;
    height: 15px;
    background: url("../img/icon-vc.svg") no-repeat;
}

.facebook::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 22px;
    background: url("../img/icon-facebook.svg") no-repeat;
}

.instagram::after {
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    background: url("../img/icon-instagram.svg") no-repeat;
}


.feedback h3 {
    font-size: 16px;
    line-height: 1.13;
    text-align: left;
    color: #ffffff;
    font-weight: normal;
    margin-bottom: 0
}

.feedback span {
    font-size: 16px;
    line-height: 1.13;
    text-align: left;
    color: #ffd180;
}

.feedback span:hover {
    color: #ffd180;
    text-decoration: underline;
    cursor: pointer;
}

.feedback span:active {
    color: #ee3643;
    text-decoration: none;
}

.developer {
    margin-left: 52px;
    margin-right: 13px
}

.developer h3 {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.13;
    text-align: left;
    color: #ffffff;
    margin-bottom: 0;
}

.developer a {
    font-size: 16px;
    line-height: 1.13;
    text-align: left;
    color: #ffd180;
}

.developer a:hover {
    color: #ffd180;
    text-decoration: underline;
}

.developer a:active {
    text-decoration: none;
    color: #ee3643;
}

.footer-wrapper-top {
    min-width: 100%;
    background-color: #32425c;
}

.footer-wrapper-bottom {
    width: 100%;
    background-color: #293449;
}

/*-----Footer end-----*/

/*-----Всплывающие окна-----*/


/*-----index.html-----*/

.modal {
    position: fixed;
    z-index: 3;
    display: none;
}

@keyframes bounce {
    0% {
        transform: translateY(-1000px);
    }

    70% {
        transform: translateY(30px);
    }

    90% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.modal-show {
    display: block;
    animation: bounce 0.6s;
}

.modal-map iframe {
    position: relative;
    z-index: 4;
    border: none;
}

.modal-map img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0;
}

.modal-write-us,
.add-to-cart {
    width: 620px;
    box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
    border-top: 7px solid #ee3643;
    padding-top: 43px;
    background-color: white;
    top: 280px;
    left: 50%;
    margin-left: -310px;
    box-sizing: border-box;
}

.add-to-cart {
    top: 410px;
    font-size: 30px;
}

.modal-close {
    position: absolute;
    width: 21px;
    height: 21px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-size: 0;
    right: 7px;
    top: 8px;
    z-index: 4;
}

.modal-close::before,
.modal-close::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 3px;
    border: 1px solid #EE3643;
    background-color: #EE3643;
    border-radius: 2px;
    right: -4px;
    top: 8px;
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(135deg);
}

.modal-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 18px;
}

.modal-form input[type="text"],
.modal-form input[type="email"],
.modal-form textarea[name="letter-text"] {
    font-family: 'PT Sans', 'Arial', serif;
    font-size: 13px;
    color: #a9a9a9;
    border: 2px solid #dee3e4;
    padding: 10px;
    padding-left: 14px;
    margin-bottom: 23px;
    margin-top: 9px;
    border-radius: 3px;
    width: 191px;
}

.modal-form input[type="text"]:hover,
.modal-form input[type="email"]:hover,
.modal-form textarea[name="letter-text"]:hover {
    border-color: #b5b5b5;
}

.modal-form input[type="text"]:focus,
.modal-form input[type="email"]:focus,
.modal-form textarea[name="letter-text"]:focus {
    border-color: #ee3643;
    outline: none;
}


.modal-form label:nth-child(2) {
    margin-left: 21px;
}

.modal-form textarea[name="letter-text"] {
    box-sizing: border-box;
    width: 460px;
    height: 110px;
}

.modal-container input[type="submit"] {
    padding: 10px;
    border: none;
    width: 460px;
}

.modal-container {
    background-color: #f4f4f4;
    width: 100%;
    padding: 37px 0px;
    padding-left: 80px
}

/*-----Карта----*/

.modal-map {
    top: 130px;
    left: 50%;
    width: 940px;
    height: 446px;
    margin-left: -470px;
    box-shadow: 0 0 14.7px 1.3px rgba(47, 42, 43, 0.5);
}


/*-----index.html End-----*/

/*-----catalog.html-----*/

.modal-form h3 {
    position: relative;
    box-sizing: border-box;
    font-size: 30px;
    font-weight: normal;
    margin-left: 50px;
    margin-top: 22px;
    margin-bottom: 63px
}

.modal-form h3::before {
    content: "";
    position: absolute;
    background: url(../img/icon-modal-check.svg);
    width: 66px;
    height: 66px;
    left: -98px;
    top: -15px;
}

.modal-container-catalog {
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
    width: 100%;
    padding: 37px;
}

.modal-button-order,
.modal-shopping-next {
    box-sizing: border-box;
    width: 220px;
    padding: 10px;
    border: 0;
}

.modal-button-order {
    margin-right: 20px;
}

.modal-shopping-next {
    background-color:
}

/*-----catalog.html end-----*/

/*-----Всплывающие окна Конец-----*/



/*--------------------------*/
/*                          */
/* Модальные окна */
/*          Вкл/Вкл         */
/*            Тут           */
/*             ↓            */
/*             ↓            */
/*                          */
/*--------------------------*/

/*-----Слайдеры-----*/

/*-----Дрели перфораторы----*/

.slider-goods-drill {
    display: ;
}

.slider-goods-perforator {
    display: none;
}

/*-----Сервисы-----*/

.slider-service-delivery {
    display: ;
}

.slider-service-guarantee {
    display: none;
}

.slider-service-credit {
    display: none;
}

/*-----Слайдеры конец-----*/
