body {
    margin: 0;
    font-family: 'Cuprum', Arial, sans-serif;
    font-weight: normal;
    background-color: #ffffff;

}

a {
    text-decoration: none;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.button {
    display: block;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    background-color: #ee3643;
    color: white;
    text-transform: uppercase;
    border-radius: 4px;
}


/*-----Header-----*/

.main-header {
    background-color: #f4f7f9;
    font-size: 17px;
    margin-bottom: 59px;
}

.navigation-wrapper {
    width: 100%;
    background-color: #293449;
}

.header-contacts,
.login,
.header-navigation,
.logged,
.footer-navigation,
.footer-goods,
.footer-social,
.breadcrumps,
.form-manufacturer,
.form-type,
.catalog-list,
.pagination-list,
.modal-add-to-cart-list,
.popular-list,
.manufacturer-list {
    list-style: none;
    padding-left: 0px;
}

.main-header-logo {
    display: block;
    background-color: #ee3643;
    width: 220px;
    height: 47px;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);

}

.header-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 13px;
}


.main-header-up {
    line-height: 17px;
    display: flex;
    align-items: center;
    margin: auto;
}

.order {
    display: block;
    background-color: #63a63e;
    padding-top: 13px;
    padding-bottom: 14px;
    width: 150px;
    text-align: center;
}

.main-header a {
    color: #ffffff;
}

.form-color {
    background-color: #293449;
    color: #ffffff;
    border: 0px;
    padding-bottom: 16px;
    font-size: 17px;
}

.search input {
    display: block;
    width: 270px;
}

.search input:hover {
    background-color: #212a3a;
}

.search input:focus {
    background-color: #ffffff;
    color: black;
}

.bookmarks {
    display: block;
    width: 150px;
    padding-top: 14px;
    padding-bottom: 13px;
}

.cart {
    display: block;
    width: 150px;
    padding-top: 14px;
    padding-bottom: 13px;
}

.cart-catalog {
    display: block;
    width: 150px;
    padding-top: 14px;
    padding-bottom: 13px;
    background-color: #ee3643;
}

.bookmarks:hover,
.bookmarks:focus,
.cart:hover,
.cart:focus {
    background-color: #212a3a;
}

.bookmarks a:active,
.cart a:active {
    background-color: #161d29;
    color: rgba(255, 255, 255, 0.6);
}

.main-header-logo:hover,
.main-header-logo:focus {
    background-color: #ca2c37;
}

.main-header-logo:active img {
    background-color: #ba2732;
}

.order:hover,
.order:focus {
    background-color: #5fbb2d;
}

.order:active {
    background-color: #518534;
}

.main-header-middle {
    display: flex;
    justify-content: flex-end
}

.header-middle-container {
    display: flex;

}

.main-header-title {
    font-style: italic;
    color: #ee3643;
    font-size: 16px;
    line-height: 23px;
    text-align: left;
}

.header-contacts {
    margin-left: 71px;
    padding: 0;
}

.header-contacts-number {
    font-size: 21px;
    line-height: 21px;
    letter-spacing: 0.4px;
    color: #ee3643;
    width: 270px;
    border: solid 3px #ffffff;
    text-align: center;
}

.header-contacts-adress {
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}


/*-----user area-----*/

.login {
    display: flex;
    margin-left: 69px;
    padding: 0;
}

.enter {
    display: block;
    width: 121px;
    padding-bottom: 15px;
    padding-top: 14px;
    text-align: center;
}

.registration {
    display: block;
    width: 150px;
    padding-bottom: 15px;
    padding-top: 14px;
    margin-left: 10px;
    text-align: center;
}

.login .button-header {
    font-size: 21px;
    line-height: 21px;
    color: black;
    background-color: #ffffff;
}

.logged {
    padding: 0;
    padding-left: 51px;
}

.logged .button-header {
    font-size: 16px;
    color: #32425c;
    text-decoration: underline;
}

.logged a:hover,
.logged a:focus {
    color: #ee3643;
}

.logged a:active {
    color: rgba(0, 0, 0, 0.3);
}

.logged .button-header-catalog-name {
    display: block;
    font-size: 21px;
    line-height: 21px;
    color: black;
    background-color: #ffffff;
}

.logged .button-header-catalog-name a:hover {
    color: black;
}

.header-container-login {
    display: flex;
}

.cabinet {
    margin-left: 32px;
}


.login :hover,
.login :focus {
    color: #ee3643;
}

.login :active {
    color: rgba(0, 0, 0, 0.3);
}

/*-----user area end-----*/

.header-navigation {
    display: flex;
    justify-content: space-around;
    background-color: #32425c;
    font-size: 17px;
    line-height: 17px;
    box-shadow: inset 0px -5px 0 0 #293449;
    padding: 0px;
}

.haeder-navigation-link {
    display: block;
    padding-bottom: 26px;
    padding-top: 22px;
    padding-left: 31px;
    padding-right: 31px;
}

.header-navigation :hover,
.header-navigation :focus {
    background-color: #293449;
}

.header-navigation :focus {
    background-color: #1d2739;
    color: rgba(255, 255, 255, 0.5);
}


/*-----Header end-----*/

/*-----Index.html-----*/

/*-----Main popular goods-----*/

.popular-catalog,
.popular-manufacturer-catalog {
    display: flex;
    background-color: #f9f5f0;
    justify-content: space-between;
    align-items: center;
    padding-right: 24px;
    margin-bottom: 21px;
}

.popular-goods-title,
.popular-manufacturer-title {
    line-height: 1;
    font-weight: normal;
    text-align: left;
    color: #32425c;
    text-transform: uppercase;
    padding-left: 30px
}

.goods-button,
.manufacturer-button {
    min-width: 253px;
    padding: 14px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.popular-list {
    display: flex;
    padding: 0px;
    justify-content: space-between;
    margin-bottom: 21px;
}

/*-----Main popular goods end-----*/

/*-----Main popular manufacturer-----*/

.manufacturer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.manufacturer-logo {
    display: block;
    border: solid 1px #eaeaea;
    width: 220px;
    height: 145px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 20px;
}



/*-----Main popular manufacturer end-----*/

/*-----Main About company-----*/

.main-container-bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 106px;
}

.about-company {
    width: 520px;
}

.about-company-title {
    font-size: 30px;
    font-weight: normal;
    line-height: 1;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 38px;
}


.about-company p {
    font-family: 'PT Sans', Arial, serif;
    font-size: 13px;
    line-height: 1.85;
    text-align: left;
    margin-bottom: 36px;
}

.delivery-company {
    font-family: 'PT Sans', Arial, serif;

    font-size: 18px;
    line-height: 20px;
    text-align: left;
}

.deilivery-company-item {
    font-family: 'PT Sans', Arial, serif;
    margin-bottom: 9px;
}

.deilivery-company-item:nth-child(3) {
    margin-bottom: 43px;
}

.about-company-button {
    padding-top: 14px;
    padding-bottom: 12px;
    width: 220px;
}

.about-company-button:hover,
.about-company-button:focus {
    background-color: #ca2c37;
}

.about-company-button:active {
    background-color: #ba2732;
}



/*-----Main About company end-----*/

/*-----Main contacts-----*/

.contacts-main {
    width: 310px;
}

.contacts-title {
    font-size: 30px;
    font-weight: normal;
    line-height: 1;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 38px;
}


.contacts-main p {
    font-family: 'PT Sans', Arial, serif;
    font-size: 13px;
    line-height: 1.85;
    text-align: left;
    margin-bottom: 36px;
}

.map {
    display: block;
    margin-bottom: 40px;
}

.contacts-button {
    width: 300px;
    padding-top: 14px;
    padding-bottom: 12px;
}

.button-main-writeus:hover,
.button-main-writeust:focus {
    background-color: #ca2c37;
}

.button-main-writeus:active {
    background-color: #ba2732;
}

/*-----Main contacts end-----*/

/*-----index.html end-----*/

/*-----Catalog.html-----*/

.breadcrumps a {
    font-family: 'PT Sans', Arial, serif;
    font-size: 13px;
    line-height: 1.38;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}

.perfator-curent {
    font-family: 'PT Sans', Arial, serif;
    font-size: 13px;
    line-height: 1.38;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}

.page-title {
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1;
    text-align: left;
    color: #32425c;
    background-color: #f2f6f8;
    padding-top: 32px;
    padding-bottom: 34px;
    padding-left: 30px;
}

/*-----Filter-----*/
.filter fieldset {
    border: none;
}

.filter-title {
    font-family: 'PT Sans', Arial, serif;
    font-size: 13px;
    line-height: 1.38;
    text-align: left;
    color: black;
    background-color: #f7f3ec;
    text-transform: uppercase;
}

.filter-price {
    font-family: 'PT Sans', Arial, serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.76;
    text-align: left;
    text-transform: uppercase;

}

.filter-price-range {
    width: 220px;
    height: 80px;
    background-color: #f7f3ec;
}

.price-enter {
    width: 95px;
    height: 38px;
    background-color: #f7f3ec;
    border: none;
    text-align: center
}

.filter-manufacturer {
    font-family: 'PT Sans', Arial, serif;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.76;
    text-align: left;
    color: black;
    text-transform: uppercase;
}

.form-manufacturer {
    font-family: 'PT Sans', Arial, serif;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 1.33;
    text-align: left;
    color: black;
}

.form-manufacturer:hover,
.form-manufacturer:focus {}

.filter-type {
    font-family: 'PT Sans', Arial, serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.76;
    letter-spacing: 0.2px;
    text-align: left;
    color: black;
    text-transform: uppercase;
}

.filter-submit {
    font-family: 'PT Sans', Arial, serif;
    font-size: 13px;
    line-height: 1.38;
    text-align: center;
    color: black;
    width: 140px;
    height: 38px;
    border: solid 1px #e5e5e5;
    background-color: white;
    text-transform: uppercase;
}

.filter-submit:hover,
.filter-submit:focus {
    border: solid 1px #bdc6ca;
}

.filter-submit:active {
    border: solid 1px #ee3643;
}

/*-----filter end-----*/

/*-----catalog-----*/

.main-catalog-container {
    display: flex;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.catalog-category {
    font-family: 'PT Sans', Arial, serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.11;
    text-align: center;
    color: black;
}

.catalog-item-old-price {
    font-family: 'PT Sans', Arial, serif;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.06;
    text-align: center;
    color: #999999;
    text-decoration: line-through;
}

.catalog-item {
    border: solid 1px #eaeaea;
    width: 220px;
}

.catalog .catalog-item {
    margin-bottom: 21px;
}

.catalog-item:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
    background-color: var(--white-two);
}

.pagination-item a {
    width: 38px;
    height: 38px;
    border: solid 1px #e5e5e5;
    color: black
}

.pagination-item:hover,
.pagination-item:focus {
    border: solid 1px #bdc6ca;
}

.pagination-item:active {
    border: solid 1px #ee3643;
}

/*-----about-perforators-----*/

.about-perforators {
    background-color: #f4f7f9;
    margin-bottom: 0px;
}

.about-perforator-title {
    font-size: 30px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: normal;
    padding-top: 65px;

}

.about-perforator-text {
    font-family: 'PT Sans', Arial, serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: normal;
    padding-bottom: 72px;
    margin-bottom: 0px;
}

/*-----about-perforators end-----*/

/*-----catalog.html end-----*/



/*-----Footer-----*/


.footer-info {
    display: flex;
    background-color: #32425c;

}

.footer-container-logo-contacts {
    width: 325px;
    text-align: center
}

.main-footer-logo {
    display: block;
    width: 220px;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    background-color: #ee3643;
    padding-bottom: 25px;
    padding-top: 20px;
}

.main-footer-logo:hover,
.main-footer-logo:focus {
    background-color: #ca2c37;
}

.main-footer-logo:active img {
    background-color: #ba2732;
}

.footer-contacts {
    font-size: 18px;
    line-height: 1.33;
    text-align: left;
    color: white;
}

.main-footer-navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

.main-footer-navigation ul li {
    margin-left: 60px;
}

.footer-navigation {
    display: flex;
}

.footer-navigation a {
    font-size: 18px;
    line-height: 1.33;
    text-align: left;
    color: white;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
    text-decoration: underline;
}

.footer-navigation a:active {
    color: rgba(241, 245, 247, 0.5);
    text-decoration: none;
}

.footer-goods {
    display: flex;
}

.footer-goods a {
    font-size: 18px;
    line-height: 1.33;
    text-align: left;
    color: #ffd180;
}

.footer-goods a:hover,
.footer-goods a:focus {
    color: #ffd180;
    text-decoration: underline;
}

.footer-goods a:active {
    color: rgba(255, 209, 128, 0.5);
    text-decoration: none;
}

.footer-container {
    display: flex;
    justify-content: flex-end;
    width: 320px;
    margin-left: 140px;
}

.footer-feedback {
    background-color: #293449;
    display: flex;

}

.footer-copyright {
    font-size: 18px;
    line-height: 1.33;
    text-align: left;
    color: #f3f7f9;
}

.footer-social {
    display: flex;
    margin-left: 40px
}

.feedback h3 {
    font-size: 16px;
    line-height: 1.13;
    text-align: left;
    color: #ffffff;
}

.feedback span {
    font-size: 16px;
    line-height: 1.13;
    text-align: left;
    color: #ffd180;
}

.feedback span:hover,
.feedback span:focus {
    color: #ffd180;
    text-decoration: underline;
}

.feedback span:active {
    color: #ee3643;
}

.developer {
    margin-left: 53px;
}

.developer h3 {
    font-size: 16px;
    line-height: 1.13;
    text-align: left;
    color: #ffffff;
}

.developer a {
    font-size: 16px;
    line-height: 1.13;
    text-align: left;
    color: #ffd180;
}

.developer a:hover,
.developer a:focus {
    color: #ffd180;
    text-decoration: underline;
}

.developer a:active {
    color: #ee3643;
}

.footer-wrapper-top {
    width: 100%;
    background-color: #32425c;
}

.footer-wrapper-bottom {
    width: 100%;
    background-color: #293449;
}

/*-----Footer end-----*/
